<div class="header"> 
	<div class="menu">
		<%= link_to('Welcome', root_path) %>
		<%= link_to('Portfolio', portfolio_path) %>
		<%= link_to('Blog', root_path) %>
		<%= link_to('About', root_path) %>
		<%= link_to('Contact', root_path) %>
	</div>
	<div class="name">
		<%= link_to('Sarah Rhee', root_path) %>
	</div>
</div>