<div class="page-home">
	<div class="header"> 
		<div class="menu">
			<%= link_to('Welcome', '#') %>
			<%= link_to('Portfolio', '#') %>
			<%= link_to('Blog', '#') %>
			<%= link_to('About', '#') %>
			<%= link_to('Contact', '#') %>
		</div>
		<div class="name">
			<div>Sarah Rhee</div>
		</div>
	</div>
	
	<div class="main">
		<div class="main-text">
			<h1>Hello. My name is Sarah and I have creative ideas</h1>
			<div class="btn btn-outline-light">View My Work</div>
		</div>
	</div>
</div>